.join-us-sec{
    background-color: #000000;
    height: 100vh;
    margin-top: 0vw;
    position: relative;
    z-index: 5;
}

.astronaut{
    width: 20%;
}

.join-us{
    width: 40%;
    float: right;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
    caret-color: #ddd; 
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #528dc9;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #75305a;
}

.contactsec{
    background-color: #000000;
    height: 100vh;
    margin-top: 0vw;
    position: relative;
    z-index: 5;
    width: 100%;
}